<app-navBar></app-navBar>
<p *ngIf="label">Recetas con la etiqueta {{label.name}}</p>

<div class="row row-cols-1 row-cols-md-2" *ngIf="recipes">
    <div class="col mb-4" *ngFor="let recipe of recipes">
        <div class="card" (click)="findRecipe(recipe.id)">
            <img src="api/recipes/uploads/img/{{recipe.img}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">{{recipe.preparation}}</p>
            </div>
        </div>
    </div>
</div>
