<app-navBar></app-navBar>
<div class="container-fluid">
    <h2 *ngIf="label && recipes" class="text-center">Recetas con la etiqueta {{label.name}}</h2>
    <h3 class="text-center text-danger" *ngIf="recipes && recipes.length===0">No existen recetas con la etiqueta {{label.name}}</h3>
    <div class="row row-cols-md-3" *ngIf="recipes">
        <div class="col mb-4" *ngFor="let recipe of recipes | paginate:{itemsPerPage:6, currentPage: pageActual}">
            <div class="card" (click)="findRecipe(recipe.id)">
                <img src="api/recipes/uploads/img/{{recipe.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{recipe.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 pb-3">
        <pagination-controls *ngIf="recipes && recipes.length!==0" (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>