img {
    width: 2vw;
}

.imgUser {
    width: 10vw;
}

.formImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    border: solid 1px #ccd8ef;
}

.imgStyle {
    border: solid 1px #E9D3E7;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    margin-top: 1vw;
}

.btnColorA {
    background-color: #BCE8E3;
}

.btnColorB {
    background-color: rgb(253, 125, 125);
}

.col-5,
.col-4,
div:nth-child(3)>div>div {
    height: 60vh;
}

#customFile {
    width: 30vw;
}