<app-navBar></app-navBar>
<div class="container-fluid">
    <table class="table" *ngIf="users && !isEdit">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido/s</th>
                <th scope="col">Email</th>
                <th scope="col">ROL</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.surnames}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0].name}}</td>
                <td>---</td>
            </tr>
        </tbody>
    </table>
    <table class="table" *ngIf="user && !isEdit">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido/s</th>
                <th scope="col">Email</th>
                <th scope="col">ROL</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{user.name}}</td>
                <td>{{user.surnames}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0].name}}</td>
                <td><button (click)="editUser(user.id)"><img src="assets/icons/edicion.png"></button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid my-3 row" *ngIf="isEdit">
    <form [formGroup]="formGroup" class="custom-form form-row col-4" method="post" *ngIf="formGroup" novalidate>
        <h1 class="text-center">Registro</h1>
        <input type="text" disabled formControlName="name" name="name" placeholder="Name" required />
        <div *ngIf="formGroup.controls['name'].invalid && formGroup.controls['name'].dirty">
            <div class="text-danger">Campo obligatorio</div>
        </div>
        <input type="text" disabled formControlName="surname" name="surname" placeholder="Surname" />
        <select name="rol" formControlName="rolUser">
    <option disabled selected>Selecciona un rol</option>
    <option *ngFor="let rols of roles" [value]="rols.id">{{rols.name}}</option>
  </select>
        <div *ngIf="formGroup.controls['rolUser'].invalid && formGroup.controls['rolUser'].dirty">
            <div class="text-danger">Selecciona un rol</div>
        </div>
        <input type="email" disabled formControlName="email" name="email" placeholder="Email" required />
        <div *ngIf="formGroup.controls['email'].invalid && formGroup.controls['email'].dirty">
            <div class="text-danger" *ngIf="formGroup.controls['email'].hasError('email')">Introduce un email valido</div>
        </div>
        <button type="submit" [disabled]="formGroup.invalid">Guardar Cambios</button>
    </form>
    <form class="form-control-lg col-6 p-lg-5 ml-5 formImg form-row">
        <h1 class="text-center">Añadir imagen</h1>
        <div class="form-row">
            <input (change)="selectImg($event)" class="form-row" type="file" accept="image/png, .jpeg, .jpg, image/gif">
        </div>
        <div *ngIf="progreso>0" class="progress form-row">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                {{progreso}}%
            </div>
        </div>
        <div class="form-row mt-3">
            <button (click)="addOrEditImg()" class="btn btn-primary ml-3" type="button">Añadir Foto</button>
        </div>
    </form>
</div>