<app-navBar></app-navBar>
<div class="container-fluid">
    <table class="table" *ngIf="users && !isEdit">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido/s</th>
                <th scope="col">Email</th>
                <th scope="col">ROL</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.surnames}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0].name}}</td>
                <td>---</td>
            </tr>
        </tbody>
    </table>
    <table class="table" *ngIf="user && !isEdit">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido/s</th>
                <th scope="col">Email</th>
                <th scope="col">ROL</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{user.name}}</td>
                <td>{{user.surnames}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0].name}}</td>
                <td><button (click)="editUser(user.id)"><img src="assets/icons/edicion.png"></button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" *ngIf="isEdit">
    <div class="row">
        <form [formGroup]="formGroup" class="custom-form formImg col-4 mt-3 ml-2" method="post" *ngIf="formGroup" novalidate>
            <h1 class="text-center">Cambiar datos</h1>

            <input type="text" class="form-control" disabled formControlName="name" name="name" placeholder="Name" required />
            <br>
            <input type="text" class="form-control" disabled formControlName="surname" name="surname" placeholder="Surname" />

            <select disabled name="rol" class="form-control mt-3 mb-3" formControlName="rolUser">
    <option disabled selected>Selecciona un rol</option>
    <option *ngFor="let rols of roles" [value]="rols.id">{{rols.name}}</option>
  </select>
            <input type="email" class="form-control" disabled formControlName="email" name="email" placeholder="Email" required />

            <!--<div class="form-row mt-3 mb-3">
                <button class="btn btnColorA" (click)="saveChange()" type="submit" [disabled]="formGroup.invalid">Guardar Cambios</button>
                <button class="btn btnColorB ml-2" (click)="cancelChange()" type="button">Cancelar</button>
            </div>-->
        </form>

        <form class="custom-form form-group col-5 formImg mt-3">
            <h1 class="text-center">Añadir imagen</h1>
            <input type="file" (change)="selectImg($event)" accept="image/png, .jpeg, .jpg, image/gif" class="form-control" id="customFile" />
            <div *ngIf="progreso>0" class="progress form-row">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                    {{progreso}}%
                </div>
            </div>
            <div class="form-row mt-3">
                <button (click)="addOrEditImg()" class="btn btnColorA ml-3" type="button">Añadir Foto</button>
                <button class="btn btnColorB ml-2" (click)="cancelChange()" type="button">Cancelar</button>
            </div>
        </form>
        <div class="col text-center mt-3 mr-2 imgStyle" *ngIf="user.img">
            <h1>Tú imagen anterior</h1>
            <img src="api/users/uploads/img/{{user.img}}" class="img-thumbnail imgUser" alt="userImg">
        </div>
    </div>
</div>