textarea,
input,
select {
    width: 30vw;
    margin-right: 2vw;
}

label {
    font-weight: 600;
    font-size: 1.5vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 2vw;
}

.file-width {
    width: 35vw;
}

.inputPeq {
    width: 20vw;
}

div.ck.ck-reset.ck-editor.ck-rounded-corners {
    width: 90vw;
}

h2 {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #E36BDF;
    font-size: 2vw;
}

.progress {
    height: 40px;
}

.custom-input-file {
    background-color: #941B80;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 400px;
}

.custom-input-file .input-file {
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
}

.shadowRecipe {
    width: 15vw;
}

.formImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: solid 1px #ccd8ef;
}

.imgStyle {
    border: solid 1px #E9D3E7;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: bold;
    font-size: 2vw;
}
