<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" (click)="home()">
        <fa-icon [icon]="faCoffee"> </fa-icon>&nbsp;&nbsp; DAW-cetas
    </a>
    <div class="navbar-expand-sm" *ngIf="user!==null">
        <ul class="navbar-nav mr-auto" *ngIf="user.roles[0].name==='ROLE_READER' ||user.roles[0].name==='ROLE_CREATOR'">
            <li class="nav-item" *ngIf="user.roles[0].name==='ROLE_CREATOR'">
                <a class="nav-link" (click)="misRecetas()">MisRecetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="recetas()">Recetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="recetasGuardadas()">Recetas Favoritas</a>
            </li>
            <li class="nav-item inline my-2 my-lg-0">
                <nav>
                    <button class="nav-link" *ngIf="user!==null" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                      <fa-icon *ngIf="user.roles[0].name==='ROLE_READER'"  [icon]="faUser" class="ml-3"> </fa-icon>
                      <fa-icon *ngIf="user.roles[0].name==='ROLE_CREATOR'"  [icon]="faUserEdit" class="ml-3"> </fa-icon>
                      <fa-icon *ngIf="user.roles[0].name==='ROLE_ADMIN'"  [icon]="faUserCog" class="ml-3"> </fa-icon>
                      {{user.name}} &nbsp;&nbsp;
                  </button>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-2">
                        <li class="nav-item">
                            <a class="nav-link" (click)="personalData()">Datos Personales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="help()">Ayuda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="close()">Cerrar sesion</a>
                        </li>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--<div class="column navbar-collapse" *ngIf="user===null">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="home()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="help()">Ayuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="close()">Iniciar Sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="register()">Registrarse</a>
            </li>
            <li class="nav-item">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-2">
                        <li class="nav-item">
                            <a class="nav-link" (click)="help()">Datos Personales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="help()">Ayuda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="close()">Cerrar sesion</a>
                        </li>
                    </div>
                </div>
            </li>
        </ul>
    </div>-->
</nav>
