a:hover {
    cursor: pointer;
}

.collapse,
.navbar,
button.nav-link {
    background-color: #d4faf5;
}

a.nav-link {
    font-weight: bolder;
}

button.nav-link,
div.collapse {
    /*left: 60vw;
    position: relative;
    float: right;*/
}
