a:hover {
    cursor: pointer;
}

.navbar {
    background: #ef32d9;
    background: -webkit-linear-gradient(to left, #b1f1f0, #f5b3ed);
    background: linear-gradient(to left, #b1f1f0, #f5b3ed);
}

.navbar {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
}

button.nav-link {
    background: #ccd8ef;
}

a.nav-link {
    font-weight: bolder;
}