<app-navBar></app-navBar>
<div class="container-fluid" *ngIf="isCreator===false">
    <h2 *ngIf="owner">Recetas del autor {{owner.name}}</h2>
    <div class="card-columns" *ngIf="recipes">
        <div class="card" *ngFor="let recipe of recipes" (click)="findRecipe(recipe.id)">
            <img class="card-img-top" src="api/recipes/uploads/img/{{recipe.img}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{recipe.name}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isCreator===true">
    <table class="table table-striped" *ngIf="recipes">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes">
                <td>{{recipe.name}}</td>
                <td>
                    <button (click)="editRecipe(recipe.id)"><img class="iconos" src="assets/icons/edicion.png"></button>
                    <button class="ml-3" (click)="removeRecipe(recipe.id)"><img class="iconos"  src="assets/icons/borrador.png"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <button class="quitarColor col-md-1 offset-md-10" (click)="addRecipe()"><img class="iconos" src="assets/icons/anadir.png"></button>
    </div>
</div>
