h3 {
    font-weight: bolder;
}

.card {
    border: solid 2px gray;
}

a:hover,
div.card:hover,tr:hover {
    cursor: pointer;
}

.iconos {
    width: 2vw;
}

.quitarColor {
    background-color: white;
    border: none;
}

.quitarColor>img {
    display: flex;
    justify-content: end;
    justify-items: end;
    width: 8vw;
}

.row {
    margin-top: 8vh;
}
