<app-navBar></app-navBar>
<div class="container-fluid" *ngIf="isCreator===false">
    <h2 *ngIf="owner">Recetas del autor {{owner.name}}</h2>
    <div class="card-columns" *ngIf="recipes">
        <span *ngFor="let recipe of recipes | paginate:{itemsPerPage:6, currentPage: pageActual}">
        <div class="card" *ngIf="recipe.state==='Publicada'"  (click)="findRecipe(recipe.id)">
            <img class="card-img-top" src="api/recipes/uploads/img/{{recipe.img}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{recipe.name}}</h3>
            </div>
        </div>
      </span>
    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>
<div class="container-fluid" *ngIf="isCreator===true">
    <table class="table table-striped" *ngIf="recipes">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes | paginate:{itemsPerPage:5, currentPage: pageActual}">
                <td (click)="findRecipe(recipe.id)">{{recipe.name}}</td>
                <td>{{recipe.state}}<span *ngIf="recipe.state==='Borrador'">
                  <button class="ml-2" (click)="publicatedRecipe(recipe.id)"><img class="iconos" src="assets/icons/megafono.png"></button>
                </span></td>
                <td>
                    <button (click)="editImagen(recipe.id)"><img class="iconos" src="assets/icons/editarImg.png"></button>
                    <button class="ml-3" (click)="editRecipe(recipe.id)"><img class="iconos" src="assets/icons/edicion.png"></button>
                    <button class="ml-3" (click)="removeRecipe(recipe.id)"><img class="iconos" src="assets/icons/borrador.png"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    <div class="row">
        <button class="quitarColor col-md-1 offset-md-10" (click)="addRecipe()"><img class="iconos" src="assets/icons/anadir.png"></button>
    </div>
</div>