<app-navBar></app-navBar>
<div class="mt-2" *ngIf="user">
    <div class="fondo">
        <h1 class="card-title">Hola {{user.name}}</h1>
        <p>¿Que te gustaría comer hoy?</p>
        <form *ngIf="recipes" class="custom-form" method="post">
            <div class="form-group">
                <input type="text" [(ngModel)]="find" name="name" placeholder="Buscar Receta" (keyup)="findRecipe()" required="required" />
            </div>
        </form>
        <!--<form class="example-form" *ngIf="recipes">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of recipes | async" [value]="option.name">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>-->
    </div>
</div>
<div class="container-fluid mt-3" *ngIf="lastRecipes">
    <h2>Ultimas recetas</h2>
    <div class="row">
        <div class="card card-recipe" *ngFor="let recipe of lastRecipes" (click)="findRecipeS(recipe.id)">
            <img class="card-img-top" src="api/recipes/uploads/img/{{recipe.img}}" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="card-title">{{recipe.name}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3" *ngIf="savedRecipe">
    <h2>Recetas favoritas</h2>
    <div class="row">
        <div class="card card-recipe" *ngFor="let savedR of savedRecipe" (click)="findRecipeS(savedR.recipes.id)">
            <img class="card-img-top" src="api/recipes/uploads/img/{{savedR.recipes.img}}" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="card-title">{{savedR.recipes.name}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="card text-center " *ngIf="labels">
    <div class="card-body ">
        <h1>Explorar todas las categorías de recetas</h1>
        <button *ngFor="let label of labels" (click)="getLabel(label.id)" class="btn btn-info ml-3 mr-3 mt- mb-3 label">{{label.name}}</button>
    </div>
</div>
