div.fondo {
    height: 60vh;
    background-image: url("/assets/img/portada.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
}

div.fondo>h1,
div.fondo>p {
    font-weight: bold;
    color: white;
    text-shadow: 2px;
}

h3 {
    font-weight: bolder;
}

img {
    width: 24vw;
    height: 40vh;
}

.card-title,
.card-body {
    width: 24vw;
}