div.fondo {
    height: 60vh;
    background-image: url("/assets/img/portada.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
}

div.fondo>h1,
div.fondo>p {
    font-weight: bold;
    color: white;
    text-shadow: 2px;
}

h3 {
    font-weight: bolder;
}

a:hover,
div.card-recipe:hover {
    cursor: pointer;
}


/*Object-fit se ajusta al contenedor*/

img {
    height: 40vh;
    object-fit: cover;
}


/*Anchura del padre, como queremos mostrar cuatro es 25% 100/4*/

.card-recipe {
    width: 25%;
}

.btn-formato {
    color: #0099CC;
    background: transparent;
    border: 2px solid #ccd8ef;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border: 2px solid #ccd8ef;
}

.btn-formato:hover {
    background-color: #ccd8ef;
    color: white;
}